# Visual Studio / Xcode
.vscode/
.idea/
*.xcodeproj/
*.xcworkspace/
*.sln
*.suo
*.opensdf
*.sdf

# Unreal Engine Generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# OS Junk
.DS_Store
Thumbs.db